@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  
}

body{
   background-color: #f3f5f9;
}

.profile-photo{
  height: 128px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);

	width: 108px;
	border-radius: 50%;
}

.header-content{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-bottom: 1cm;
}
.container{
  
  display: flex;
  position: relative;
}

.container .sidebar{
  width: 320px;
  height: 100%;
  background: #ffb546;
  padding: 30px 0px;
  position: fixed;
}

.container .sidebar h2{
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.container .sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid white;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}    

.container .sidebar ul li a{
  color: white;
  display: block;
}

.container .sidebar ul li a .fas{
  width: 25px;
}

.container .sidebar ul li:hover{
  background-color: gray;
}
    
.container .sidebar ul li:hover a{
  color: #fff;
}
 
.container .sidebar .social_media{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.container .sidebar .social_media a{
  display: block;
  width: 40px;
  background: white;
  color: blue;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}

.container .main_content{
  
  width: 100%;
  margin-left: 320px;
}

.container .main_content .main-header{

  padding: 20px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
}

.container .main_content .description{
  margin: 20px;
  color: #717171;
  line-height: 25px;
}

.github{
  margin-top: 0.7rem;
  width: 18px;
  height: 18px;
}
.github:hover{
  scale: 1.3;


}
.leetcode{
  margin-top: 0.7rem;
  width: 18px;
  height: 18px;
}

.leetcode:hover{
  scale: 1.3;
}
.instagram{
  margin-top: 0.7rem;
  width: 18px;
  height: 18px;
}
.instagram:hover{
  scale: 1.3;
  

}
.linkedin{
  margin-top: 0.7rem;
  width: 18px;
  height: 18px;
}
.linkedin:hover{
  scale: 1.3;
}



.cards {
  display: grid;
  grid-template-columns:repeat(auto-fit,minmax(450px,1fr));
  height: 450px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

.card_image {
  height: calc(13*1.2rem);
  padding: 1.2rem 1.2rem 0;
  position:relative;
}
.card_image:before,
.card_image:after{
  content: "";
  position: absolute;
  width: 20px;
  left: 60%;
  top: 0;
  height: 45px;
  background: #e6e6e6b8;
  transform: rotate(45deg);
}
.card_image:after{
  transform: rotate(-45deg);
  top:auto;
  bottom:-22px;
  left:40%;
}
.card_image img {
  width:100%;
  height:100%;
  object-fit:cover;
}

.cards_item {
  filter:drop-shadow(0 0 5px rgba(0, 0, 0, 0.25));
}


.card {
  background-color: white;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-left: 30px;
  background: linear-gradient(rgb(255, 181, 70) 0 0) 30px 0/2px 100% #fff;
  background-repeat: no-repeat;
  line-height: 1.2rem;
  -webkit-mask:radial-gradient(circle .8rem at 2px 50%,#0000 98%,#000)0 0/100% 2.4rem;
}

.card_content {
  padding: 1.2rem;
}

h2.card_title,p {
  margin: 1.2rem 0;
}
h2.card_title {
    font-size: 1.3em;
}

.card_text{
  font-size: 16px;
  color: black;
}

.talent-project li{
  display: flex;
  flex-direction:row ;

}

.talent-project li p{
  margin-left: 10px;
  
  
}


section{
  height: 1000px;
}

.button-li{
  display: flex;
  flex-direction:row ;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.talent-button{
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid #ffb546;
  border-radius: 5px;
  background-color: #ffb546;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.talent-button a {
  color: white;
}


input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

input::placeholder, textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: #bbb5af;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #bbb5af;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}



header {
  position: relative;
  margin: 100px 0 25px 0;
  font-size: 2.3em;
  text-align: center;
  letter-spacing: 7px;
}

#form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;
}

input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 550px;
  height: 80px;
  padding: 0px 15px 0px 15px;
  
  background: transparent;
  outline: none;
  color: #726659;
  
  border: solid 1px #b3aca7;
  border-bottom: none;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #b3aca7;
  color: #e2dedb;
}

textarea {
  width: 550px;
  max-width: 550px;
  height: 200px;
  max-height: 200px;
  padding: 15px;
  
  background: transparent;
  outline: none;
  
  color: #726659;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  
  border: solid 1px #b3aca7;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #b3aca7;
  color: #e2dedb;
}

#submit {
  width: 550px;
  
  padding: 0;
  margin: -5px 0px 0px 0px;
  
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: #b3aca7;
  
  outline:none;
  cursor: pointer;
  
  border: solid 1px #b3aca7;
  border-top: none;
}

#submit:hover {
  color: #e2dedb;
}


.contact .card{
  width: 1250px;
  margin-left: 4cm;
  margin-top: 1cm;
}

