/* Genel stiller */

body {
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: 25% 75%;
	font-family: Arial, sans-serif;
}

img {
	height: 128px;
	width: 108px;
	border-radius: 50%;
}

/* Header stilleri */

.header {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #f2f2f2;
	padding: 20px;
}

nav ul {
	display: flex;
	flex-direction: column;
	list-style: none;
	margin: 5px 5px 5px 5px;
	padding: 5px 5px 5px 5px;
	display: flex;
}

nav li {
	margin: 0 10px;
}

nav a {
	text-decoration: none;
	color: black;
}
